<!-- <label for="">Nombre</label>:
<input type="text" name="nombre" [(ngModel)]="nombre">
<button (click)="buscar()">Buscar</button>
<br>
<img ngIf src="{{urlImagen}}" alt="pokemon">
<br>
{{nombre}} -->
<div class="container justify-content-center mt-2">
  <div class="row">
    <div *ngFor="let pokemon of pokemones" class="card" style="width: 18rem;">
      <img [src]="pokemon.image" class="card-img-top" alt="{{pokemon.name}}">
      <div class="card-body">
        <h5 class="card-title">Name: {{pokemon.name}}</h5>
        <h6>Abilities:</h6>
        <div *ngFor="let ability of pokemon.abilities">
          <p class="card-text"> {{ability}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
